{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
    <strong> Secured Zone</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('homepage') }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ path('logout') }}">Logout</a>
    <hr>

    {% if user.email is defined %}
        E-mail: {{ user.email }} <br>
    {% endif %}
    {% if user.lastname is defined %}
        Name: {{ user.lastname }} <br>
    {% endif %}

    {% for post in posts %}
        <div class="col-lg-9 col-lg-offset-2 well">
            <h3>{{ post.titlePost }}</h3>
            <p>{{ post.textPost }}</p>
            <small>{{ post.createdAt | date("d/m/Y") }} Rating {{ post.rating }} Author {{ post.author.username }}</small>
        </div>
    {% endfor %}
</div>
{% endblock %}
